<div class="section">
    <div class="section-title">
        <h3>DISEÑOS PERSONALIZADOS</h3>
    </div>

    <div class="custom-section">
        <div class="basis">
            <img src="imagenes/custom.jpg" alt="">
        </div>
        <div class="custom-text">
            <h4>ELEGI TU SUPERHEROE FAVORITO PARA TU PROXIMO COMIC</h4>
            <p>Nota: No esta disponible para todos los comics</p>
            <div class="btn-two-box">
                <button class="btn-two">CUSTOMIZE IT!</button>
                <p>Leer las instrucciones para mas informacion</p>
            </div>
        </div>
    </div>
</div>