
<div class="section">
    <div class="col-12 section-title">
        <h3>UNIVERSO MARVEL</h3>
    </div>
    
    <div class="row custom-section">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <img class="img-fluid" src="imagenes/custom.jpg" alt="">
        </div>
        <div class="d-sm-none d-md-inline col-sm-12 col-md-12 col-lg-12 col-xl-6 custom-text" >
            <p class="fs-3 mt-3">El Universo cinematográfico de Marvel es una franquicia de medios y un universo compartido, centrada en una serie de películas de superhéroes producidas por Marvel Studios. Las películas están basadas en personajes que aparecen en los cómics estadounidenses publicados por Marvel Comics.</p>
            <p class="fs-6">Si queres conocer mas del UM hace click en el boton para adentrarte en este mundo increible</p>
            <div class="btn-two-box">
                <a class='btn btn-danger' href="/prod">Universo Marvel</a>
            </div>
        </div>
    </div>
</div>
