
    <header>
        <!-- Encabezado header -->
      <div class="row g-0 pre-nav">
        <div class="col-md-4 d-flex justify-content-between align-items-center">
          <a class="link-item remove-pad-left" href="#">HELP</a>
          <a class="link-item coustomize" href="#">COUSTOMIZE IT!</a>
        </div>
        <div class="col-md-4 d-none d-lg-block d-xl-block input-encabezado">
            <input class="link-item" type="text" placeholder="SEARCH">
        </div>
        <div class="col-md-4 text-end d-flex justify-content-end align-items-center registro">
          <% if (userName) { %>
            
            <a href="#"><%= userName %></a>
          <% } else { %>
            <a href="/login">Ingresar</a>
          <% } %>
            <a class="link-item remove-pad-right" href="#">CART <span>0</span></a>
        </div>
      </div>
      
      <!--   navbar -->
     
      <nav class="navbar navbar-expand-lg border-bottom">
          <a class="navbar-brand" href="/">
            <img src="imagenes/marvel_logo.png" class="logo-marvel" alt="Logo de tienda marvel">
          </a>
          <div class="mobile-search">
            <input class="link-item" type="text" placeholder="SEARCH">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="link-item">
                <a href="#">Lighters</a>
              </li>
              <li class="link-item">
                <a href="#">Inserts</a>
              </li>
              <li class="link-item">
                <a href="#">Inserts</a>
              </li>
              <li class="link-item">
                <a href="#">Hand Warmers</a>
              </li>
              <li class="link-item">
                <a href="#">OutDoor</a>
              </li>
              <li class="link-item">
                <a href="#">Accesories</a>
              </li>
              <li class="link-item remove-pad-right">
                <a href="#">Retirings</a>
              </li>
            </ul>
          </div>
        </nav>
       
    </header>
    
