<!DOCTYPE html>
<html lang="en">

<head>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Icono de la pestaña -->
  <link rel="icon" type="image/png" href="/imagenes/marvel-ico.png">
  <!-- bootstrap del servidor -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- bootstrap local -->
  <link rel="stylesheet" href="libs/bootstrap.css">
  <!-- css header y hero -->
  <link rel="stylesheet" href="styles/styles-header-hero.css">
  <!-- CSS Maxi -->
  <link rel="stylesheet" href="styles/style-maxi.css">

  <!-- CSS Carrito -->
  <link rel="stylesheet" href="styles/style-carrito.css">

  <!-- Fuente -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Iconos footer -->
  <script src="https://kit.fontawesome.com/a1d014f48a.js" crossorigin="anonymous"></script>
  <!-- CSS Matulaz -->
  <link rel="stylesheet" href="styles/style-matulaz.css">
    
  <title>MARVEL SHOP 🤖</title>
</head>

<body>