<!-- Hero -->
<body>
<section class="d-flex flex-column justify-content-center mt-5">
    <div class="row g-0 hero">
        <div class="col-xl-8 d-flex justify-content-around align-items-center div-1">
          <span class="hero-title">MARVEL'S</span>
          <img src="imagenes/spider.jpeg" class="img1-hero" alt="">
        </div>
        <div class="col-xl-4 marvel-card d-flex justify-content-center align-items-center">
          <img src="imagenes/nightcrawlers.jpg" class="img-card-hero" alt="">
          <div class="d-flex flex-column align-items-between">
            <p>LO NUEVO EN MARVEL</p>
            <button><a href="/prod">SHOP COLLECTIONS</a></button>
          </div>
        </div>
    </div>
    <div class="row g-0 hero flex-row-reverse" >
      <div class="col-xl-8 d-flex justify-content-around align-items-center div-1">
        <span class="hero-title">COLLECCIÓN</span>
        <img src="imagenes/escudo-capitan-america.jpeg" class="escudo-capitan-america" alt="">
      </div>
      <div class="col-xl-4 marvel-card d-flex justify-content-center align-items-center">
        <img src="imagenes/cap-america.jpg"  class="img-card-hero" alt="">
        <div class="d-flex flex-column align-items-between">
          <p>CAPITÁN AMÉRICA</p>
          <button><a href="/prod">SHOP COLLECTIONS</a></button>
        </div>
      </div>
    </div>
    <div class="row g-0 hero">
      <div class="col-xl-8 d-flex justify-content-around align-items-center div-1">
        <span class="hero-title">x-MEN '97 TEAM</span>
      </div>
      <div class="col-xl-4 marvel-card d-flex justify-content-center align-items-center">
        <img src="imagenes/x-men.jpeg" class="img-card-hero" alt="">
        <div class="d-flex flex-column align-items-between">
          <p>FUEGO DEL INFIERNO</p>
          <button><a href="/prod">SHOP COLLECTIONS</a></button>
        </div>
      </div>
  </div>
</section>