

<nav class="navbar navbar-expand-lg border-bottom">
  <a class="navbar-brand" href="/">
    <img src="imagenes/marvel_logo.png" class="logo-marvel" alt="Logo de tienda marvel">
  </a>
  <div class="mobile-search">
    <input class="link-item" type="text" placeholder="BUSCAR">
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="link-item">
        <a href="/historia">Historia</a>
      </li>
      <li class="link-item">
        <a href="/nosotros">Acerca de Nosotros</a>
      </li>
      <li class="link-item">
        <a href="/contacto">Contacto</a>
      </li>
      <li class="link-item">
        <a href="/privacidad">Privacidad</a>
      </li>
      <li class="link-item">
        <a href="/terminos">Terminos</a>
      </li>
      <li class="link-item">
        <a href="/informacion">Información</a>
      </li>
    </ul>
  </div>
</nav>


