


    <div class="container-fluid">
        <h1 class="h1maxi">COLLECTIBLE LIGHTERS</h1>
        <div class="row">
            <div class="col pe-0 col-md-8">
                <img class="img-seccion" src="../imagenes/marvel.jpg" alt="foto">
            </div>
            <div class="col pt-6 p-5  col-md-4 box">
                <h2 class="h2maxi">EXLCUSIVE <br> LIMITED <br> EDITION <br>LIGHTERS ONLY <br>AT ZIPPO.COM</h2>
                <div class="d-grid ">
                    <button class=" buy btn btn-danger mt-5" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-8 ps-5 pt-2">
                <h1 class="h1maxi">EXPLORE THE LIGHTERS<br>IN OUR CATALOG</h1>
            </div>
            <div class="col p-2  col-md-4 box2">
                <p>SHOP</p>
               
            </div>
        </div>
    </div>
