<div class="container-fluid mt-5">
    <h1 class="h1shop">EDICIONES COLECCIONABLES</h1>
    <div class="row">
        <div class="col p-0 col-md-8 col-sm-12 col-shop">
            <img class="img-seccion" src="../imagenes/marvel.jpg" alt="foto">
        </div>
        <div class="col pt-6 p-5  col-md-4 col-sm-12 text-center box">
            <h2 class="h2maxi">EDICION <br> LIMITADA <br> DE NUESTROS <br>PRODUCTOS <br>SOLO ACA 🚀 </h2>
            <div class="d-grid ">
                <button class="btn btn-danger mt-5 " type="button">
                    <a class="text-light" href="/prod"> Comprar Edicion Limitada</a>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 col-md-8 col-sm-12 ps-5 pt-2">
            <a href="/prod">
                <h1 class="h1shop">VER TODO EN NUESTRO<br>CATALOGO MARVEL 🤖</h1>
            </a>
        </div>
        <div class="col p-2  col-md-4 col-sm-12  box2">
            <a href="/prod">
                <p>SHOP</p>
            </a>

        </div>
    </div>
</div>