



<div class="section">
    <div class="section-title">
        <h3>LOS MAS VENDIDOS</h3>
    </div>
    <div class="cards">
        <div class="card col-4" >
            <div class="etiquetas">
                <p>NUEVO</p>
                <p>EXCLUSIVO</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic1.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <p class="card-title price"> $ 5.95</p>
                <p class="card-text description"> Warlock: Rebirth  </p>
                <a class="btn btn-danger btn-detail" href="top-sale-1">DETAILS</a>
            </div>
        </div>
        <div class="card col-4" >
            <div class="etiquetas">
                <p>EXCLUSIVO</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic2.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <p class="card-title price"> $ 3.70 </p>
                <p class="card-text description"> Daredevil & Echo #1 </p>
                <a class="btn btn-danger btn-detail" href="top-sale-2">DETAILS</a>
            </div>
        </div>
        <div class="card col-4" >
            <div class="etiquetas">
                <p>NUEVO</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic3.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <p class="card-title price"> $ 4.95 </p>
                <p class="card-text description"> Fury: 60 Years #1 </p>
                <a class="btn btn-danger btn-detail" href="top-sale-3">DETAILS</a>
            </div>
        </div>
    </div>
</div>