
<div class="section">
    <div class="section-title">
        <h3>TOP SALE OF THE DAY</h3>
    </div>
    <div class="cards">
        <div class="card">
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic1.jpg" alt="">
            </div>
            <p class="price"> $ 410 </p>
            <p class="description"> Aqui va la descripcion </p>
            <div class="btn-one-box">
                <button class="btn-one">DETAILS</button>
            </div>
        </div>
        <div class="card">
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic2.jpg" alt="">
            </div>
            <p class="price"> $ 390 </p>
            <p class="description"> Descripcion del comic </p>
            <div class="btn-one-box">
                <button class="btn-one">DETAILS</button>
            </div>
        </div>
        <div class="card">
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic3.jpg" alt="">
            </div>
            <p class="price"> $ 370 </p>
            <p class="description"> Descripcion del producto </p>
            <div class="btn-one-box">
                <button class="btn-one">DETAILS</button>
            </div>
        </div>
    </div>
</div>