



<div class="section">
    <div class="section-title">
        <h3>TOP SALE OF THE DAY</h3>
    </div>
    <div class="cards">
        <div class="card col-4" >
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic1.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body">
                <p class="card-title price"> $37.95 </p>
                <p class="card-text description"> Assassin's Creed 15 </p>
                <a class="btn btn-danger btn-detail" href="details">DETAILS</a>
            </div>
        </div>
    </div>
</div>