<div class="section">
    <div class="section-title">
        <h3>TOP SALE OF THE DAY</h3>
    </div>
    <div class="cards">
        <div class="card">
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic1.jpg" alt="">
            </div>
            <div class="detalles-producto">
                <p class="price"> $37.95 </p>
                <p class="description"> Assassin's Creed 15 </p>
                <div class="btn-one-box">
                    <button class="btn-one" onclick="location.href='details'">DETAILS</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic2.jpg" alt="">
            </div>
            <div class="detalles-producto">
                <p class="price"> $24.95 </p>
                <p class="description"> Steampink Design </p>
                <div class="btn-one-box">
                    <button class="btn-one" onclick="location.href='details'">DETAILS</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="etiquetas">
                <p>NEW</p>
                <p>EXCLUSIVE</p>
                <p>BEST SELLER</p>
            </div>
            <div class="imagen">
                <img src="imagenes/comic3.jpg" alt="">
            </div>
            <div class="detalles-producto">
                <p class="price"> $41.95 </p>
                <p class="description"> Graveyard Design </p>
                <div class="btn-one-box">
                    <button class="btn-one" onclick="location.href='details'">DETAILS</button>
                </div>
            </div>
        </div>
    </div>
</div>