    <div class="nav-bar">
        <form class="nav-bar-form" method="get" role="search" id="myForm" name="nameStartsWith">
            <label for="nameStartsWith"></label>
            <input type="search" class="search" id="search" name="search" value="" placeholder="Search Avengers">
        </form>
    </div>



    <div>
        <div id="avenger-row">
            <p>Hola!</p>
            <div id="character"></div>
       </div>
    </div>






