
<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <%- include("../partials/navBar.ejs") %>



    <div class="container-fluid mt-5">
        <h1 class="typewriter mb-5">🛒 COMPRA REALIZADA! 🛒 </h1>
        <img class="rounded mx-auto d-block"  src="../imagenes/gracias.png" alt="">
        <p class="text-center mt-5">
            <a href="/" class="text-secondary fw-bold m-2">Home</a>
        </p>
    </div>

    <%- include("../partials/footer.ejs") %>