<%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
        <%- include("../partials/navBar.ejs") %>
            <div class="container-fluid">
                <h1 class="typewriter">COMPRA REALIZADA CON EXITO!</h1>
                <p class="text-center">
                    <a href="/" class="home-link ">Seguir Navegando</a>
                </p>
            </div>

            <%- include("../partials/footer.ejs") %>