<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <%- include("../partials/navBar.ejs") %>
        <div class="container-fluid pb-1" style="background-color: gray">
            <h1>CONTACTO</h1>
            <h1>aca va el formulario de contacto</h1>
            <p class="text-center pt-2 fw-semibold fs-5">Escribinos por Whatsapp &nbsp; &nbsp;
                <a href="https://wa.me/11223344/?text=Escribi%20tu%20mensaje:" target="_blank">
                    <img src="../imagenes/whatsapp.png" width="50" height="50">
                </a>


            </P>

        </div>

        <%- include("../partials/footer.ejs") %>