<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <%- include("../partials/navBar.ejs") %>
        <div class="container-fluid" style="background-color: #bdad98">
            <h1>HISTORIA</h1>
            <iframe width="100%" height="450" src="https://www.youtube.com/embed/SlFTbbcx2qs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            </P>
        </div>

        <%- include("../partials/footer.ejs") %>