<%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/navBar.ejs") %>    
    <div class="container-fluid" style="background-color:#bdad98">
            <h1>NOSOTROS</h1>
            <p>Lorem ipsum dolor sit amet. Et autem maiores nam ullam sint eum dolorum quae. Ut atque nisi ut labore
                possimus sed eveniet natus sit totam nihil sed odit ratione At eligendi rerum. Ea facilis facere qui
                voluptate culpa eos eveniet placeat et possimus nisi ut nihil quia sed nesciunt voluptate. Est dicta
                beatae in expedita delectus et excepturi vitae eos dolorum rerum. Id tempora porro a velit consectetur
                vel optio illum et deleniti aspernatur est excepturi officiis qui vero odit ea consequatur veniam. </p>
            <p>Aut provident suscipit et libero minus cum architecto voluptatibus sed officiis quam. Aut nemo illo in
                officia omnis et cumque rerum! Ut alias nemo vel pariatur repellendus et iusto molestias rem aspernatur
                voluptatem et quae modi non odit nisi. Et impedit dolores non laudantium assumenda et inventore quis et
                iste delectus et saepe quia est fugiat tempora aut Quis tempora! Hic internos numquam et neque labore
                quo autem rerum et omnis provident eum odio eius qui recusandae laborum. At commodi possimus sed
                architecto explicabo et voluptas sequi hic voluptatem internos id similique nesciunt et dolor saepe. Aut
                galisum modi sed quae voluptas eos officiis dolorem ad ullam expedita et repudiandae iusto. Ut sunt
                dolore est omnis perspiciatis vel fuga pariatur ut recusandae laborum ab esse molestias sit harum nihil
                et voluptas enim. Sit fugit dicta et assumenda laborum quo iusto nesciunt! </p>
            <p>Ex nisi consequuntur non obcaecati excepturi est architecto saepe qui tempore aliquid id ullam nostrum et
                cumque aperiam aut amet sint. Sit vero assumenda ab laudantium iste hic quibusdam temporibus et
                repellendus rerum 33 necessitatibus exercitationem 33 quia ipsum ut consequatur voluptatem. Et
                voluptatibus fuga et culpa consequuntur hic quos galisum ea iure cupiditate et reprehenderit impedit.
                Est alias perferendis est perferendis reprehenderit et maiores excepturi et quam ratione in excepturi
                Quis et voluptas quia aut optio quasi? Est temporibus odit qui autem suscipit aut sunt corrupti ut animi
                similique! </p>

        </div>

        <%- include("../partials/footer.ejs") %>