<%- include("../partials/head.ejs") %>
  <%- include("../partials/header.ejs") %>
    <div class="container-fluid" style="background-color: gray">
      <h1>SOPORTE TECNICO</h1>
      <img class="p-4 rounded mx-auto d-block" style="width: 500px;" src="../imagenes/soporte.jpg" alt="foto">
      </P>
    </div>

    <%- include("../partials/footer.ejs") %>