/*ESTILOS CARRITO**/

.carro-container {
    background-color: rgba(189, 173, 152, 0.2);
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-carro {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    flex-direction: column;
}

.botones1 {
    display: flex;
    align-items: center;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    align-items: start;

}

.btn-comprar .botoncomp {
    width: 200px;
}

.btn-agregar {
    display: flex;
    justify-content: end;
}

.btn-eliminar {
    background-color: aliceblue;
    opacity: 0.8;
}

.total {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/*imagen carrito*/
.imagen-carro {
    width: 30%;
    height: 30%;
    margin-bottom: 5px;
}

.img-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilo banner compra*/

.typewriter {
    color: #161aee;
    font-size: 4em;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

/* .typewriter{
    position: relative;
    font-size: 4em;
    color: red;
    text-align: center;
}
.typewriter::after{
    content: 'MARVEL';
    position: absolute;
    right: 0;
    color: white;
    background-color: #1d1f20;
    width: 100%;
    animation: typing 3s steps(14) alternate infinite,
    step-end
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
} */