/* GENERAL */

body{
    margin:30px;
}

.section{
    padding-top: 100px;
}

.section-title>h3{
    font-weight: 1000;
    font-size: 100px;
    margin:0px;
    letter-spacing: -4px;
}

/*TOP SALES SECTION */
.cards{
    display:flex;
    justify-content: center;
}

.card{
    border: 1px rgb(240, 240, 240) solid;
    margin:10px 0px 10px 0px;
    height: 100%;
    width: 100%;
    padding:0px 20px 20px 20px
}

.card .price{
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 800;
    margin:12px 0px;
}

.etiquetas{
    display: flex;
    margin-left:-20px
}

.etiquetas>p{
    background-color:black;
    padding:4px 6px;
    margin: 0px 4px 15px 0px;
    color:rgb(243, 243, 243);
    font-size:16px;
}

.imagen{
    display:flex;
    justify-content: center;
}

.imagen>img{
    width: 300px;
}

.detalles-producto{
    margin: 4px 60px;
    padding-bottom:25px;
}

.card .description{
    text-transform: none;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.btn-one-box{
    display:flex;
    justify-content: center;
    height: 60px;
}
.btn-one{
    width: 100%;
    color:white;
    background-color:#dd1229;
    border:none;
    padding: 8px 20px ;
    font-size:24px;
    font-weight: 500;
}

.transparente{
    opacity:0.25
}


/* CUSTOM SECTION */

.custom-section{
    display: flex;
    border: 1px rgb(240, 240, 240) solid;
    margin-top:30px;
    align-items: center;
    padding-right: 100px;
}

.basis{
    flex-basis: 100%;
}


.custom-section>div>img{
    width: 100%;
}

.custom-text{
    margin-left:50px;
    padding-right: 50px;
}

.custom-text>h4{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.btn-two{
    color:white;
    background-color:#dd1229;
    border:none;
    padding: 12px 40px ;
    font-size:24px;
    font-weight: 500;
}

h4{
    font-weight: 800;
    font-size: 24px;
    margin:0px;
}

.custom-text>p{
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-weight: 500;
    font-size: 36px;
}

.btn-two-box{
    display:flex;
    justify-content: start;
}

.btn-two-box>p{
    text-transform: none;
    font-size: 16px;
}

/* PRODUCT DETAILS */
.img-detail{
    height: 720px;
}

.section-detail{
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-details-info{
    padding:50px
}



