<%-include("../partials/head.ejs")%>
<%- include("../partials/navBar.ejs")%>


<div class="col-12">
    <div class="container p-3 w-50">
        <h1 class="text-center mt-5 mb-3">Cambiar Password</h1>
        <%- include('../partials/messages') -%>

        <form action="/changepassword" method="post">
            <div class="form-group px-0">
                <input type="email" name="email" class="form-control m-2" placeholder="Ingresar Email">
            </div>
            <div class="form-group px-0">
                <input type="password" name="password" class="form-control m-2" placeholder="Nueva Password">
            </div>
    
            <div class="form-group px-0 ">
                <input type="password" name="confirmpassword" class="form-control m-2" placeholder="Confirmar Password">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger btn-block m-2 ">Cambiar password</button>
            </div>
           

        </form>