<%- include("../partials/head.ejs")%>
<%- include("../partials/header.ejs")%>





<h1 class="text-center mt-5 mb-3 ">Ingreso</h1>
        <div class="container w-25">

            <form action="/login" method="post">
                <div class="form-group px-0">
                <input type="email" name="email" class="form-control" placeholder="Ingrese su email">
                </div>
                <div class="form-group px-0">
                <input type="password" name="contraseña" class="form-control" placeholder="Ingrese su contraseña">
                </div>
                <div class="d-flex flex-column">
                    <a href="/olvido">Olvido su contraseña?</a>
                    <a href="/registrar">Ingrese aquí para registrarse</a>
                </div>
                
                <button type="submit" class="btn btn-danger btn-bolck ">Ingresar</button>

            </form>
        </div>

<%- include("../partials/footer.ejs") %>