<%- include("../partials/head.ejs")%>
    <%- include("../partials/navBar.ejs") %>


        <div class="col-12">
            <div class="container w-50">
                <h1 class="text-center mt-5 mb-3 ">Ingreso</h1>
                <%- include('../partials/messages') -%>
                    <form action="/login" method="post">
                        <div class="form-group px-0">
                            <input type="email" name="email" class="form-control m-2" placeholder="Ingrese su email">
                        </div>
                        <div class="form-group px-0">
                            <input type="password" name="password" class="form-control m-2"
                                placeholder="Ingrese su contraseña">
                        </div>
                        <div class="d-flex flex-column m-2 text-center">
                            <a href="/olvido">Olvido su contraseña?</a>
                            <a class="text-primary" href="/registrar">REGISTRARSE</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger btn-bolck ">INGRESAR</button>
                        </div>
                    </form>
            </div>
        </div>
        <%- include("../partials/footer.ejs") %>