<%- include("../partials/head.ejs")%>
    <%- include("../partials/navBar.ejs") %>

        <div class="col-12">
            <div class="container p-3 w-50">
                <h1 class="text-center mt-5 mb-3">Recuperar contraseña</h1>
                <div class="container w-50">
                    <form action="/olvido" method="post">
                        <div class="form-group px-0 mb-3">
                            <input type="email" name="email" class="form-control" placeholder="Ingrese su email">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger btn-block">Enviar email</button>
                        </div>
                    </form>
                    <div class="d-flex flex-column m-2 text-center">
                        <a class="float-right text-primary" href="/login">Regresar al login</a>
                    </div>

                </div>
            </div>

        </div>



        <%- include("../partials/footer.ejs") %>