<%- include("../partials/head.ejs")%>
    <%- include("../partials/navBar.ejs")%>

        <div class="col-12">
            <div class="container p-3 w-50">
                <h1 class="text-center mt-5 mb-3">Crear Nueva Cuenta</h1>
                <%- include('../partials/messages') -%>

                    <form action="/registrar" method="post">
                        <div class="form-group px-0 mt-5 mb-3">
                            <input type="text" name="nombre" class="form-control" placeholder="ingrese su nombre"
                                required>
                        </div>
                        <div class="form-group px-0 mb-3">
                            <input type="email" name="email" class="form-control" placeholder="ingrese su email"
                                required>
                        </div>
                        <div class="form-group px-0 mb-3">
                            <input type="password" name="password" class="form-control"
                                placeholder="ingrese su password" required>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-registrar btn-success btn-block">Registrar</button>

                        </div>

                    </form>
            </div>
        </div>

        <%- include("../partials/footer.ejs") %>