<%- include("../partials/head.ejs")%>
<%- include("../partials/header.ejs")%>

<div>
    <h1>AQUI VA EL PRODUCTO CON DETALLE PARA AGREGARLO AL CARRITO</h1>
</div>

<%- include("../partials/footer.ejs") %>